html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}


body {
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

.header-section {
	background-image: url("../images/pinapple.jpeg");
	background-size: cover;
	background-position: 0 bottom;
	background-repeat: no-repeat;
	height: 45.938em;
	overflow: auto;
	/* width: 100%; */
}

.about-section {
	background-image: url("../images/arch-photo.jpeg");
	background-size: 100% 100%, cover;
	min-height: 55em;

}

.home:hover {
	cursor: pointer;
}

.about-hover:hover {
	cursor: pointer;

}

.gallery-hover:hover {
	cursor: pointer;

}

.contact-hover:hover {
	cursor: pointer;

}


.work-section {
	background-image: url("../images/phone-photo.jpeg");
	background-size: 100% 100%, cover;
	min-height: 55em;
}

.contact-section {
	background-image: url("../images/contact-me.jpg");
	background-size: 100% 100%, cover;
	min-height: 55em;
}
/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.nav-bar {
	display: flex;
	position: fixed;
	width: 100%;
	
}

.nav-content {
	width: 65em;
	margin-left: 16.5em;
}

.nav-menu {
	font-size: 2em;
	margin-left: -4em;
	margin-top: 1em;
	
}

.nav-social {
	font-size: 2em;
	margin-left: 26em;
	margin-top: -1em;

}

.nav-social li {
	margin-right: 1em;
}

.nav-menu li {
	display: inline;
	padding-right: .5em;
}

.center-content {
	width: 55em;
	margin: 0 auto;

}

.name-box {
	border: 5px solid white;
	margin-top: 7em;
}

.center-name {
	text-align: center;
	color: white;
	padding-bottom: 4em;
	padding-top: 1em;
	font-family: 'Roboto Condensed', sans-serif;
}

.center-name h1 {
	font-size: 6em;
}

.center-name h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	margin-top: -1.75em;
}

.fa-chevron-down {
	position: relative;
	font-size: 3em;
	top: 5em;
	margin: 0 auto;
	width: 10em;
}

.profile-pic {
	border-radius: 50%;
	border: .2em solid white;
	margin-top: 18em;
	margin-left: 14em;
}



