html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;	
  box-sizing: inherit;
}


@-ms-viewport{
  width: device-width;
}

.wrapper {
	background-image: 
		linear-gradient(
			to right,
            #003F87,
            #A2B5CD,
			#007FFF
			
		);
}

.container {
	margin: 1em auto;
	background-color:rgba(248, 248, 248, 0.1);
	border-radius: .5em;
}


.navbar {
	border-radius: .5em .5em 0 0;
	width: 100%;
	border: transparent;
}

.navbar-default {
	background-color: rgb(248, 248, 248);
}

.menu {
	display: flex;
	/* padding-left: 30%; */
}

.menu div {
	padding: 2em 2em 2em 0;
	
}

.hover:hover {
	cursor: pointer;
}

.service-box {
	background-color: rgb(248, 248, 248);
	height: 12em;
	max-width: 25.5em;
}

.spring {
	background-image: url("../images/spring_burned.png");
	background-size: 6.5em 6.5em, contain;
	background-repeat: no-repeat;
	background-position: 48% 28%;
}

.spring p {
	padding: 8em 8em 0 0;
}

.works-bar,
.review-bar {
	height: 5em;
	background-color: rgb(248, 248, 248);
}

.works-bar,
.review-bar  {
	padding-top: 2em;
}

.review-bar {
	margin-top: 4em;
}

.review-row {
	padding-bottom: 2em;
}

.service-section {
	
	margin-top: 4em;
}

.footer-row {
	height: 13em;
	background-color: rgb(248, 248, 248);
	border-radius: 0 0 .5em .5em;
}

.intro-quote {
	margin-top: 4em;
}

.service-row {
	margin-top: 5em;
}

.latest-works {
	margin-top: 4em;
}

.gallery-row {
	margin-top: 2em;
	margin-left: -0.25em;
}

.review {
	border: 1px solid rgba(248, 248, 248, 0.48);
	margin-top: 1em;
	padding: 1em;
}

hr {
	border: 1px solid rgba(248, 248, 248, 0.48);
}

.fa-github {
	font-size: 7em;
	padding-top: .4em;
}

.fa-stack-overflow {
	font-size: 6em;
	margin-right: 1em;
	position: relative;
	bottom: .1em;
}

.android i {
	font-size: 7em;
	margin: .1em 0 -5em 1.4em;
}

.android p {
	margin-top: 1em
}


.ios i {
	font-size: 7em;
	margin-top: .2em;
}

.grand-wizard {
	text-align: center;
	padding-top: 5em;
}

.item img {
	margin: 0 auto;
}

.hidden {
	display: none;
}

.link i, .link a {
	color: black;
}

@media screen and (max-width: 1200px) {
	.android i {
		margin-left: 1.1em;
	}

	.spring p {
		/* padding-left: 0em; */
	}

}

@media screen and (max-width: 992px) {
	.service-box {
		margin-bottom: 1em;
		margin: 1em auto;
	}

	.android i {
		margin-left: 1.4em;
	}

	.name {
		margin-left: 32.5%;
		width: 50%;
	}

	.menu {
		width: 60%;
		margin-left: 37%;
	}
}

@media screen and (max-width: 485px) {
	.name h1 {
		font-size: 2em;
	}

	.menu {
		width: 60%;
		margin: 0 auto;
		padding-left: 2em;
	}
}




